*{
margin:0;

    
}
form{
padding: 20px;

}
body{

    display:grid;
    place-items: center;
    height: 100vh;

}
.completo input{
    width: 100%;
}
.mitad{
    width: 50%;
    
} 

.completo,.mitad{

    display:flex;
    align-items: center;
    width: 100%;
}
.mybutton{

    display: flex;
    justify-content:center;  
}

main{


font-family: "poppins",sans-serif;

}
form{

    background-color:#e2b7aa;
box-shadow: 1px 1px 10px rgb(0 0 0/20%);
}
h1{

    text-align: center;
    margin-bottom: 10px;
}
input{

    margin-top: 5px;
    margin-bottom: 5px;
    padding: 7px;
    border: 0px;
    background-color: #f2f2f2;
    border-radius: 5px;
}
input[type=button]{
    background-color:#f2f2f2;
    border:0px;
    color: rgb(0 0 0/40%);
    padding: 7px 15px 7px 15px;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 15px;
   

}

